{{!-- This is the handlebar for the answer choice screen. --}}

<div class="container">
    <div class="jumbotron text-center" id="question-jumbotron">
        <h1 class="display-6" id="gameTitle">KEBÄB</h1>
        <p id="tagline">Pick the correct answer from the options below... choose carefully!</p>
        <hr class="my-4">
        <div class="container" id="answerGroup">
        {{#each userAnswer}}
            <a class="waves-effect waves-light btn-large answerButton" data-questionid={{TriviumId}}  data-userid={{UserId}} data-gameid={{GameId}}>{{userAnswer}}</a>
        {{/each}}
        </div> 
    </div>
</div>

<script>
    var socket = io
    /*io.connect("http://localhost");*/
    io.connect("http://project2team6.herokuapp.com/socket.io/?EIO=3&transport=polling");
</script>