{{!-- This is the handlebar for the answer choice screen. --}}

<div class="container">
    <div class="jumbotron text-center" id="question-jumbotron">
        <h1 class="display-6" id="gameTitle">KEBÄB</h1>
        <p id="tagline">Pick the correct answer from the options below... choose carefully!</p>
        <hr class="my-4">
        <div class="container" id="answerGroup">
            {{#each userAnswer}}
            <a class="waves-effect waves-light btn-large answerButton" data-questionid={{userAnswer.TriviumId}}
                data-userid={{userAnswer.userId}} data-gameid={{userAnswer.GameId}}>{{userAnswer.userAnswers}}</a>
            {{/each}}
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var API = {
            // Get question and answer
            getTrivia: function (id) {
                return $.ajax({
                    url: "api/Trivia/" + id,
                    type: "GET"
                })
            },
            // Get user
            getUser: function (id) {
                return $.ajax({
                    url: "api/user",
                    type: "GET"
                })
            }
        }
    

            $(this).trigger("click")

        })
    })
</script>