{{> loader}}
<div class="container">
  <div class="jumbotron text-center" id="home-jumbotron">
    <h1 class="display-6" id="appTitle">KEBÄB</h1>
    <h3 class="lead" id="slogan"><i>A Trivia Experience</i></h3>
    <hr class="my-4">
    <p id="tagline">Gather four friends and click start!</p>
    <div class="container" id="usernameContainer">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix" id="usernameInput">account_circle</i>
          <input id="username" type="text" class="validate">
          <label for="username" id="usernameInput">Enter a username</label>
          <a id="submit" class="waves-effect waves-light btn" href="/question">Join Game</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $("#submit").on("click", function (event) {
    console.log('click')
    event.preventDefault(); 
    let userName = $("#username").val().trim();
    if (userName !== '' && userName.length > 0) {
      var user = {
        username: userName
      }
      $("#loading .load-msg").text(`Loading ${userName} to game. Hold tight.`);
      $("#loading").removeClass("hide");
      
      $.post("/api/user", user, function (response) {
      
        window.localStorage.setItem("gameid", response.gameid);
        window.localStorage.setItem("username", response.username);
        window.localStorage.setItem("userid", response.userid);

        if(response.status) {

          moveToGame(response)
      } else {
        var checker = setInterval(checkStatus, 1000);

        $("#loading .load-msg").text("You are now in queue, waiting for more users to join.");
         // show message waiting for users
         // interval check status of userCount for game by id
        function checkStatus(){
          $.get(`/api/game/${response.gameid}/status`, function(gameStatus){
            if(gameStatus){
              // clear interval
              clearInterval(checker)
              moveToGame(response)
            }
          })
        }
      }
      }) 
    }
  })

  function moveToGame(response){
      $("#loading .load-msg").text("");
      $("#loading").addClass("hide");
      // start game redirect user to question page
      window.location.href = `/play/${response.gameid}`; 
  }
  $("#submit").keypress(function (e) {
        if (e.which == 13) {
            event.preventDefault();
            getUserInput()
            return false; 
        }
    });
</script>

{{!-- <script src="../../project2app/public/js/chat.js"></script> --}}