<div class="container">
  <div class="jumbotron text-center" id="home-jumbotron">
    <h1 class="display-4">KEBÄBbb</h1>
    <p class="lead"><i>A Trivia Experience</i></p>
    <hr class="my-4">
    <p>Gather your friends and click start!</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Start Game</a>
    <h4>{{text}}</h4>
    <h4>{{description}}</h4>
  </div>
</div>