<div class="container">
    <div class="jumbotron text-center" id="home-jumbotron">
        <h1 class="display-6" id="gameTitle">KEBÄB</h1>
        <p id="tagline">Please read the prompt. Enter your best fake answer below!</p>
        <hr class="my-4">
        <h1 style="margin-top: 25%">{{questionText}}</h1>
        <div class="container">
            <form id="usernameForm">
                <input id="username" type="text" placeholder="Username" required />

                <a id="submit" class="waves-effect waves-light btn">Submit</a>
            </form>
        </div>
    </div>
</div>