{{!-- where users view the question that they're answering --}}

<div class="container">
    <div class="jumbotron text-center" id="question-jumbotron">
        <h1 class="display-6" id="gameTitle">KEBÄB</h1>
        <p id="tagline">Fill in the blank below with your best fake answer!</p>
        <hr class="my-4">
        <h1 id="userQuestion">{{questions}}</h1><br>
        <div class="container" id="smallInput">
            <form id="userAnswerForm">
                <input id="userAnswer" type="text" placeholder="Enter your answer here" required />
                <a id="submit" class="waves-effect waves-light btn">Submit</a>
            </form>
        </div>
    </div>
</div>